<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="javaPackage.AssertionDemo1"/>
      <class name="javaPackage.TestNGDemo8"/>
      <class name="javaPackage.SeleniumGridDemo1"/>
      <class name="javaPackage.TakeScreenShotOnFailure2"/>
      <class name="javaPackage.TestNGDemo7"/>
      <class name="com.facebook.tests.LoginTest"/>
      <class name="javaPackage.TestNGDemo6"/>
      <class name="javaPackage.TestNGDemo5"/>
      <class name="javaPackage.TestNGDemo4"/>
      <class name="javaPackage.TestNGDemo3"/>
      <class name="javaPackage.TestNGDemo2"/>
      <class name="javaPackage.TestNGDemo1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
